<!DOCTYPE html>
<html
   class=no-js lang=en-US>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:15 GMT -->
   <!-- Added by HTTrack -->
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <!-- /Added by HTTrack -->
   
   <%- include('component/head.ejs') -%>

   <body
   
      class="home page-template-default page page-id-10 wp-embed-responsive  wpb-js-composer js-comp-ver-6.9.0 vc_responsive page-template page-template-home-page page-template-home-page-php page page-id-13 wp-embed-responsive theme-kotlis-demo woocommerce-no-js wpb-js-composer js-comp-ver-6.8.0 vc_responsive"  data-barba=wrapper>
 
         <main
            class=black-version>
            <%- include('component/header.ejs') -%>

            <div
            class=clear></div>




         
            <section
               class="full-width-section " >
               <div
                  class="block-wrapper layout-pt-md ">
                  <div
                     data-anim-wrap class="section-wrapper container ">
                     <div
                        data-anim-wrap class="row-layout  row ">
                        <div
                           class="wpb_column vc_column_container vc_col-sm-5">
                           <div
                              class=vc_column-inner>
                              <div
                                 class=wpb_wrapper>
                                 <div
                                    class="sec-heading   ">
                                    <div
                                       class="sectionHeading -lg">

                                     
                                   

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div
                           class="wpb_column vc_column_container vc_col-sm-7">
                           <div
                              class=vc_column-inner>
                              <div
                                 class=wpb_wrapper></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>



            <div
               class=clear></div>
            <div
               class=clear></div>

            <div
               class=clear></div>
            <div
               class=clear></div>
               
               <style>
                  .sbn{
                     outline: 0;
                     width: 100%;
                     line-height: 42px;
                     padding: 0 16px;
                     background-color: rgba(255, 255, 255, 0.8);
                     color: #212121;
                     border: 0;
                     -webkit-border-radius: 4px 0 0 4px;
                     border-radius: 4px;
                  }
               </style>

               <br/>
               <input type="text" id="searchBar" class="sbn" placeholder="Search here" />
               <br/>
               <% documents.forEach((document,index) => { %>
                  <div class="card bg-light-subtle mt-4 part-card"  >
                     <div class="card-body">
                       <div class="text-section">
                         <a href="/person-details?id=<%= document._id %>&Sr=<%= index + 1 %>" class="card-title fw-bold" style="color:#000">
                            
                            <h5 class="card-title fw-bold" style="color:#000">
                              <%= index + 1 %>. <%= document.FM_NAME_EN %>&nbsp;<%= document.LASTNAME_EN %>&nbsp;-<%= document.RLN_TYPE %>- &nbsp;<%= document.RLN_FM_NM_EN %>&nbsp;<%= document.RLN_L_NM_EN %>
                              
                           </h5>
                         </a>


                         <p class="card-text" style="color: #000;">
                           <%= document.GENDER %>-<%= document.AGE %>
                         </p>
                         <p class="card-text" style="color: #000;">
                           Number: <%= document.MOBILE_NO ? document.MOBILE_NO : 'NoNumber' %>
                         </p>
                         
                       </div>
                     </div>
                   </div>
                  
                <% }) %>
            
<!-- Pagination Controls -->
<div class="pagination">
   <% if (currentPage > 1) { %>
     <a href="/part-details?part=<%= req.query.part %>&page=<%= currentPage - 1 %>">&laquo; Previous</a>
   <% } %>
   &nbsp;&nbsp;&nbsp;
   <p> <%= currentPage %> of <%= totalPages %></p>
   &nbsp;&nbsp;&nbsp;
   <% if (documents.length === itemsPerPage) { %>
     <a href="/part-details?part=<%= req.query.part %>&page=<%= currentPage + 1 %>">Next &raquo;</a>
   <% } %>
 </div>
 
            

                
              <br/>
              <br/>
              <br/>

              <ul>
              
                <br/>
                
             </ul>
              <br/>
              <br/>
              <br/>
                

            <div
               class=clear></div>
               <%- include('component/footer.ejs') -%>
         </main>
      </div>
      <script>
         // Add an event listener to the search bar input
         const searchBar = document.getElementById('searchBar');
         searchBar.addEventListener('input', filterData);
       
         function filterData() {
           const searchValue = searchBar.value.toLowerCase();
           const cards = document.querySelectorAll('.part-card');
       
           cards.forEach(card => {
             const cardTitle = card.querySelector('.card-title');
             if (cardTitle.textContent.toLowerCase().includes(searchValue)) {
               card.style.display = 'block';
             } else {
               card.style.display = 'none';
             }
           });
         }


       </script>
       ]
      <script type=text/html id=wpb-modifications></script> <script src=wp-content/cache/minify/3b479.js></script> <script id=contact-form-7-js-extra>var wpcf7 = {"api":{"root":"https:\/\/webredox.net\/demo\/wp\/stukram\/dark\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};</script> <script src=wp-content/cache/minify/52358.js></script> <script id=wpb_composer_front_js-js-extra>var vcData = {"currentTheme":{"slug":"stukram"}};</script> <script src=wp-content/cache/minify/a266d.js></script> 
   </body>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:28 GMT -->
</html>
