<!DOCTYPE html>
<html
   class=no-js lang=en-US>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:15 GMT -->
   <!-- Added by HTTrack -->
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <!-- /Added by HTTrack -->
   
   <%- include('component/head.ejs') -%>
   

   <body
   
      class="home page-template-default page page-id-10 wp-embed-responsive  wpb-js-composer js-comp-ver-6.9.0 vc_responsive page-template page-template-home-page page-template-home-page-php page page-id-13 wp-embed-responsive theme-kotlis-demo woocommerce-no-js wpb-js-composer js-comp-ver-6.8.0 vc_responsive"  data-barba=wrapper>
 
         <main
            class=black-version>
            <%- include('component/header.ejs') -%>

       

            <div
            class=clear></div>




         
            <section
               class="full-width-section " >
               <div
                  class="block-wrapper layout-pt-md ">
                  <div
                     data-anim-wrap class="section-wrapper container ">
                     <div
                        data-anim-wrap class="row-layout  row ">
                        <div
                           class="wpb_column vc_column_container vc_col-sm-5">
                           <div
                              class=vc_column-inner>
                              <div
                                 class=wpb_wrapper>
                                 <div
                                    class="sec-heading   ">
                                    <div
                                       class="sectionHeading -lg">

                                     
                                   

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div
                           class="wpb_column vc_column_container vc_col-sm-7">
                           <div
                              class=vc_column-inner>
                              <div
                                 class=wpb_wrapper></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>



            <div
               class=clear></div>
            <div
               class=clear></div>

            <div
               class=clear></div>
            <div
               class=clear></div>


               <h1>Person Details</h1>
               <% documents.forEach((document) => { %>
                              
                <table>
                  <tr >
                     <th colspan="2" class="image-cell" style="text-align: right;" >
                       <!-- Place your image source here -->
                       <img src="https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_1280.png" style="width: 100px; " alt="Image">
                     </th>
                   </tr>

                    <tr>
                      <td>Const No.</td>
                      <td><%= document.AC_NO %> </td>
                    </tr>
                    <tr>
                      <td>Booth</td>
                      <td><%= document.PART_NO %> </td>
                    </tr>
                    <tr>
                      <td>SrNo</td>
                      <td><%= document.PART_NO %> </td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><%= document.FM_NAME_EN %>&nbsp;<%= document.LASTNAME_EN %>&nbsp;-<%= document.RLN_TYPE %>- &nbsp;<%= document.RLN_FM_NM_EN %>&nbsp;<%= document.RLN_L_NM_EN %> </td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td><%= document.AC_NO %>/<%= document.PART_NO %>/<%= document.PART_NO %>/<%= document.SECTION_NAME_EN %> </td>
                    </tr>
                    <tr>
                      <td>Booth Name</td>
                      <td><%= document.PART_NO %>-<%= document.PSBUILDING_NAME_EN %> </td>
                    </tr>
                    <tr>
                      <td>Sex-Age</td>
                      <td><%= document.GENDER %>/<%= document.AGE %> </td>
                    </tr>
                    <tr>
                      <td>Mob No</td>
                      <td><%= document.MOBILE_NO %> </td>
                    </tr>
                   
                    
                  
                    <tr>
                     <td>House No</td>
                     <td><%= document.c_HOUSE_NO %> </td>
                   </tr>
                   <tr>
                     <td>Card No</td>
                     <td><%= document.EPIC_NO %> </td>
                   </tr>
                 
         
                   <tr>
                     <td>DOB</td>
                     <td><%= document.DOB %> </td>
                   </tr>
                 

                    
                </table>
                <% }) %>
            

                
              <br/>
              <br/>
              <br/>

              <ul>
              
                <br/>
                
             </ul>
              <br/>
              <br/>
              <br/>
                

            <div
               class=clear></div>
               <%- include('component/footer.ejs') -%>
         </main>
      </div>
      
      <script type=text/html id=wpb-modifications></script> <script src=wp-content/cache/minify/3b479.js></script> <script id=contact-form-7-js-extra>var wpcf7 = {"api":{"root":"https:\/\/webredox.net\/demo\/wp\/stukram\/dark\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};</script> <script src=wp-content/cache/minify/52358.js></script> <script id=wpb_composer_front_js-js-extra>var vcData = {"currentTheme":{"slug":"stukram"}};</script> <script src=wp-content/cache/minify/a266d.js></script> 
   </body>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:28 GMT -->
</html>
