<!DOCTYPE html>
<html
   class=no-js lang=en-US>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:15 GMT -->
   <!-- Added by HTTrack -->
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <!-- /Added by HTTrack -->
   
   <%- include('component/head.ejs') -%>

   <body
   
      class="home page-template-default page page-id-10 wp-embed-responsive  wpb-js-composer js-comp-ver-6.9.0 vc_responsive page-template page-template-home-page page-template-home-page-php page page-id-13 wp-embed-responsive theme-kotlis-demo woocommerce-no-js wpb-js-composer js-comp-ver-6.8.0 vc_responsive"  data-barba=wrapper>
 
         <main
            class=black-version>
            <%- include('component/header.ejs') -%>

       

            <div
            class=clear></div>




         
            <section
               class="full-width-section " >
               <div
                  class="block-wrapper layout-pt-md ">
                  <div
                     data-anim-wrap class="section-wrapper container ">
                     <div
                        data-anim-wrap class="row-layout  row ">
                        <div
                           class="wpb_column vc_column_container vc_col-sm-5">
                           <div
                              class=vc_column-inner>
                              <div
                                 class=wpb_wrapper>
                                 <div
                                    class="sec-heading   ">
                                    <div
                                       class="sectionHeading -lg">

                                     
                                       
                                          <!-- <% para.forEach((item, index) => { %>
                                             <p
                                                class="sectionHeading__subtitle -black" style><%= item.AC_NAME_EN %></p>
                                                <% }) %> -->

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div
                           class="wpb_column vc_column_container vc_col-sm-7">
                           <div
                              class=vc_column-inner>
                              <div
                                 class=wpb_wrapper></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>



            <div
               class=clear></div>
            <div
               class=clear></div>

            <div
               class=clear></div>
            <div
               class=clear></div>



               <% para.forEach((item, index) => { %>
               <div class="card bg-light-subtle mt-4">

                  <div class="card-body">
                    <div class="text-section">
                      <h5 class="card-title fw-bold" style="color:#000"><%= item.AC_NAME_EN %></h5>
                      <p class="card-text" style="color: #000;">Some quick example text to build on the card's content.</p>
                    </div>
                    <div class="cta-section">
                      <div>$129.00</div>
                      <a href="#" class="btn btn-dark">Buy Now</a>
                    </div>
                  </div>
                </div>
                <% }) %>
                <br/>

                 <div class="pagination">
                  <% if (currentPage > 1) { %>
                     <a style="padding:5px" href="?page=<%= currentPage - 1 %>">Previous</a>
                      <a style="padding:5px" href="?page=1">1</a>
                      <span>...</span>
                  <% } %>
              
                  <% for (let i = startPage; i <= endPage; i++) { %>
                      <a style="padding:5px" href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
                  <% } %>
              
                  <% if (currentPage < totalPages) { %>
                      <a style="padding:5px" href="?page=<%= currentPage + 1 %>">Next</a>
                      <a style="padding:5px" href="?page=<%= totalPages %>">Last</a>
                  <% } %>
              </div>
                

            <div
               class=clear></div>
               <%- include('component/footer.ejs') -%>
         </main>
      </div>
      
      <script type=text/html id=wpb-modifications></script> <script src=wp-content/cache/minify/3b479.js></script> <script id=contact-form-7-js-extra>var wpcf7 = {"api":{"root":"https:\/\/webredox.net\/demo\/wp\/stukram\/dark\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};</script> <script src=wp-content/cache/minify/52358.js></script> <script id=wpb_composer_front_js-js-extra>var vcData = {"currentTheme":{"slug":"stukram"}};</script> <script src=wp-content/cache/minify/a266d.js></script> 
   </body>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:28 GMT -->
</html>
