<!DOCTYPE html>
<html
   class=no-js lang=en-US>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:15 GMT -->
   <!-- Added by HTTrack -->
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <!-- /Added by HTTrack -->
   
   <%- include('component/head.ejs') -%>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   <body
   
      class="home page-template-default page page-id-10 wp-embed-responsive  wpb-js-composer js-comp-ver-6.9.0 vc_responsive page-template page-template-home-page page-template-home-page-php page page-id-13 wp-embed-responsive theme-kotlis-demo woocommerce-no-js wpb-js-composer js-comp-ver-6.8.0 vc_responsive"  data-barba=wrapper>
 
         <main
            class=black-version>
            <%- include('component/header.ejs') -%>

       

            <div
               class=clear></div>
            <div
               class=clear></div>


                 <!-- <div class="pagination">
                  <% if (currentPage > 1) { %>
                     <a style="padding:5px" href="?page=<%= currentPage - 1 %>">Previous</a>
                      <a style="padding:5px" href="?page=1">1</a>
                      <span>...</span>
                  <% } %>
              
                  <% for (let i = startPage; i <= endPage; i++) { %>
                      <a style="padding:5px" href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
                  <% } %>
              
                  <% if (currentPage < totalPages) { %>
                      <a style="padding:5px" href="?page=<%= currentPage + 1 %>">Next</a>
                      <a style="padding:5px" href="?page=<%= totalPages %>">Last</a>
                  <% } %>
              </div> -->

              <br/>
              <br/>
              <ul>
            

                <br/>

                <style>
                  .sbn{
                    outline: 0;
                    width: 100%;
                    line-height: 42px;
                    padding: 0 16px;
                    background-color: rgba(255, 255, 255, 0.8);
                    color: #212121;
                    border: 0;
                    -webkit-border-radius: 4px 0 0 4px;
                    border-radius: 4px;
                  }
                  .dropdownn{
                    position: relative;
         font-family: inherit;
         font-size: 1rem;
         font-weight: 400;
         line-height: 1.5;
         cursor: pointer;
         user-select: none;
         width: 100%;
       
         padding: 0.75rem 1.25rem;
         border: none;
         outline: none;
         border-radius: 0.25rem;
         color: var(--color-black);
         background-clip: padding-box;
         background-color: var(--color-white);
         box-shadow: var(--shadow-medium);
         transition: all 0.3s ease-in-out;
                  }
                </style>

                <input type="text" id="searchBar" class="sbn" placeholder="Search by Name" />
                <select id="dropdownList" class="dropdownn" style="width: 300px;">
                  <option value="-1">All Booths</option>
                  <% uniquePartNumbers.sort((a, b) => a.PART_NO - b.PART_NO).forEach((item, index) => { %>
                    <option value="<%= index + 1 %>" >
                      <%= item.PART_NO %>, <%= item.PSBUILDING_NAMES.join(", ") %>
                    </option>
                  <% }) %>
                </select>
         
                <br/>
                <div id="detailsContainer"></div>
     
                
                <br/>
                
             </ul>
              <br/>
              <br/>
              <br/>
                

            <div
               class=clear></div>
               <%- include('component/footer.ejs') -%>
         </main>
      </div>
      <script>
         // Add an event listener to the search bar input
         const searchBar = document.getElementById('searchBar');
         searchBar.addEventListener('input', filterData);
       
         function filterData() {
           const searchValue = searchBar.value.toLowerCase();
           const cards = document.querySelectorAll('.part-card');
       
           cards.forEach(card => {
             const cardTitle = card.querySelector('.card-title');
             if (cardTitle.textContent.toLowerCase().includes(searchValue)) {
               card.style.display = 'block';
             } else {
               card.style.display = 'none';
             }
           });
         }

         const dropdown = document.getElementById('dropdownList');
  dropdown.addEventListener('change', (event) => {
    const selectedIndex = event.target.value;
    if (selectedIndex !== "-1") {
      const card = document.querySelector('.part-card:nth-of-type(' + selectedIndex + ')');
      if (card) {
        window.scrollTo(0, card.offsetTop);
      }
    }
  });

       </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  document.getElementById('dropdownList').addEventListener('change', function() {
    const selectedValue = this.value;
  
    if (selectedValue !== '-1') {
      
      $.ajax({
        url: `/voter/details?part=${selectedValue}`,
        method: 'GET',
        success: function(data) {
          $('#detailsContainer').html(data);
        },
        error: function(error) {
          console.error('Error fetching data:', error);
        }
      });
    } else {
      $('#detailsContainer').empty(); // Clear details if 'All Booths' selected
    }
  });
  </script>
  
      <script type=text/html id=wpb-modifications></script> <script src=wp-content/cache/minify/3b479.js></script> <script id=contact-form-7-js-extra>var wpcf7 = {"api":{"root":"https:\/\/webredox.net\/demo\/wp\/stukram\/dark\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};</script> <script src=wp-content/cache/minify/52358.js></script> <script id=wpb_composer_front_js-js-extra>var vcData = {"currentTheme":{"slug":"stukram"}};</script> <script src=wp-content/cache/minify/a266d.js></script> 
   </body>
   <!-- Mirrored from webredox.net/demo/wp/stukram/dark/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jun 2022 10:54:28 GMT -->
</html>
